<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<%= link_to 'Sign Up', new_user_registration_path %>
<%= link_to 'Sign In', new_user_session_path %>
<%= link_to 'Log Out', destroy_user_session_path, data: { turbo_method: :delete } %>
<br/ >
<br/ >
<br/ >
<%= link_to "Create Event", new_event_path %>
<br/>
<br/>
<% @events.each do |event| %>
  <div>
    <%= link_to event.title, event %>
    <p><%= event.date %></p>
    <p><%= event.location %></p>
    <p><%= event.creator.email %></p>
    <%= button_to "Attend", event_attendances_path(event), method: :post %>
  </div>
<% end %>
